{% extends "base.html" %}
{% load static %}

{% block title %}Змінити пароль{% endblock %}

{% block content %}

    <section class="auth">
        <div class="container">
            <h1>Змінити пароль</h1>
            <div class="auth__subtitle-line"></div>
            <div class="row">
                <div class="col-12 form" id="change-password">
                    <form action="{% url 'change_password' %}" method="post" class="auth">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <ul>
                            <li>Ваш пароль не може бути дуже схожим на вашу іншу особисту інформацію.</li>
                            <li>Ваш пароль має містити не менше 8 символів.</li>
                            <li>Ваш пароль не може бути типовим паролем.</li>
                            <li>Ваш пароль не може бути повністю цифровим.</li>
                        </ul>
                        <p>
                            <span></span>
                            <input class="btn-register" type="submit" value="Змінити пароль">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>  

{% endblock %}