{% extends "base.html" %}
{% load static %}

{% block title %}Кабінет{% endblock %}

{% block content %}

    <section class="auth">
        <div class="container">
            <h1>Кабінет користувача</h1>
            <div class="auth__subtitle-line"></div>

            <div class="row">
                <div class="col-12 form">
                    <form action="{% url 'update_user' %}" method="post">
                        {% csrf_token %}
                        <p>
                            <label for="id_username">{{ form.username.label }}</label>
                            {{ form.username }}
                        </p>
                        <p>
                            <label for="id_email">{{ form.email.label }}</label>
                            {{ form.email }}
                        </p>

                        <div class="btn-block">
                            <button type="submit" class="btn btn-outline-secondary btn-lg btn-custom btn-auth" name="update">Зберегти</button>                                                                         
                        </div>
                    </form>

                    <form action="{% url 'change_password' %}" method="GET">
                        {% csrf_token %}                        
                        <div class="btn-block">
                            <button type="submit" class="btn btn-outline-secondary btn-lg btn-custom-change-password" name="more">Змінити пароль</button>                                                                           
                        </div>                                            
                    </form>

                </div>
            </div>

        </div>
    </section>  

{% endblock %}