{% extends "base.html" %}
{% load static %}

{% block title %}Інструкції{% endblock %}

{% block content %}

    <section class="home">
        <div class="container">
            <h1>Інструкції з моделювання та симуляції</h1>
            <div class="home__subtitle-line"></div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 ">

                <div class="col">
                    <div class="card h-100">
                        <h4 class="card-header">Розрахунок міцності труби високого тиску в SolidWorks Simulation</h4>
                        <div class="card-body">
                            <img src="{% static 'images/pipe_pressure_simulation_preview.png' %}" alt="pipe pressure">

                            <form action="{% url 'pipe_pressure_instruction' %}" method="GET">
                                {% csrf_token %}
                                <div class="btn-block">
                                    <button type="submit" class="btn btn-outline-success btn-lg btn-home-menu" name="pipe">Ознайомитись</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

        </div>
    </section>  

{% endblock %}