{% extends "base.html" %}
{% load static %}

{% block title %}Матеріали{% endblock %}

{% block content %}

    <section class="material">
        <div class="container">
            <h1>Характеристики деяких сталей</h1>
            <div class="home__subtitle-line"></div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <tr class="table__header">
                            <th>Марка сталі</th>
                            <th>Прокат</th>
                            <th>Термообробка</th>
                            <th>Твердість, HB</th>
                            <th>Межа текучості, МПа</th>
                        </tr>
                        {% for material in materials_list %}
                            <tr>
                                <td class="table__name">{{ material.name }}</td>
                                <td class="table__type">{{ material.type }}</td>
                                <td class="table__condition">{{ material.condition }}</td>
                                <td class="table__hardness">{{ material.hardness }}</td>
                                <td class="table__yield_strenght">{{ material.yield_strenght }}</td>                        
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>



        </div>
    </section>  

{% endblock %}



<!-- {% for book in books_list %}
<div class="col">
    <div class="card mt-3" style="width: 18rem;">
        <h5 class="card-header">Book id: {{ book.id }}</h5>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Name: {{ book.name }}</h6>
            <p class="card-text">Description: {{ book.description }}</p>
            <p class="card-text">Count: {{ book.count }}</p>
        </div>
    </div>
</div>
{% endfor %} -->