{% extends "base.html" %}
{% load static %}

{% block title %}Труба{% endblock %}

{% block content %}

    <section class="pipe">

        <div class="container">

            <h1>Розрахунок товщини стінки труби високого тиску</h1>
            <div class="home__subtitle-line"></div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 form">
                    <form action="{% url 'pipe_pressure' %}" method="post">
                        {% csrf_token %}

                        <h2>Параметри труби</h2>

                        <div class="form__string">
                            {{ form.name.label }}                           
                            <div class="form__data form__data__name">
                                {{ form.name }}                               
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.yield_strength.label }}                           
                            <div class="form__data">
                                {{ form.yield_strength }}
                                <div class="form__unit">МПа</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.test_pressure.label }}                           
                            <div class="form__data">
                                {{ form.test_pressure }}
                                <div class="form__unit">МПа</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.min_outside_diameter.label }}                           
                            <div class="form__data">
                                {{ form.min_outside_diameter }}
                                <div class="form__unit">мм</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.k_industry.label }}                           
                            <div class="form__data">
                                {{ form.k_industry }}
                                <div class="form__unit"></div>                             
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.k_cycle.label }}                           
                            <div class="form__data">
                                {{ form.k_cycle }}
                                <div class="form__unit"></div>                              
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.k_welding.label }}                           
                            <div class="form__data form__data__welding">
                                {{ form.k_welding }}                              
                            </div>
                        </div>

                        <div class="results">
                            {% if thickness >= outside_radius %}
                                {% if thickness == 0 %}
                                <div class="results__error">Введіть параметри для розрахунку товщини стінки</div>
                                {% endif %}
                                    
                                {% if thickness != 0 %}
                                <div class="results__error">Товщина стінки перевищує зовнішній радіус</div>
                                {% endif %}                                    
                            {% endif %}
                      
                            {% if thickness < outside_radius %}
                                <div class="results__string">
                                    Товщина стінки (s)
                                    <div class="results__data">
                                        <div class="results__value">{{ thickness }}</div>
                                        <div class="results__unit">мм</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="form__string">
                            {{ form.description.label }} 
                            <div class="form__data form__data__description">
                                {{ form.description }} 
                            </div>
                        </div>

                        <div class="btn-block">
                            <button type="submit" class="btn btn-outline-success btn-lg btn-custom" name="calculate">Рахувати трубу</button>                                                    
                            {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-outline-success btn-lg btn-custom" name="create">Зберегти</button>
                            {% endif %}
                        </div>                       
                        
                    </form>
                    
                </div>

                <div class="col col-sm-8 col-md-8 col-lg-4">
                    <img src="{% static 'images/pipe_segment.jpg' %}" alt="pipe pressure">

                    {% if user.is_authenticated %}
                        {% if last_pipe_results %}
                            <div>
                                <p class="table-title">Ваші останні розрахунки</p>
                                <table class="table">
                                    <tr class="table__header">
                                        <th>Назва</th>                                
                                        <th>Gт</th>
                                        <th>p</th>
                                        <th>D</th>
                                        <th>s</th>
                                    </tr>
                                    {% for pipe in last_pipe_results %}
                                        <tr>
                                            <td class="table__name"><div id="pipe-name">{{ pipe.name }}</div></td>                                    
                                            <td class="table__condition">{{ pipe.yield_strength }}</td>
                                            <td class="table__hardness">{{ pipe.test_pressure }}</td>
                                            <td class="table__yield_strenght">{{ pipe.min_outside_diameter }}</td>
                                            <td class="table__yield_strenght">{{ pipe.thickness }}</td>
                                            <td id="edit-col">
                                                <form action="{% url 'pipe_detail' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="pipeid" value="{{ pipe.id }}">
                                                    <button class="detail-button">
                                                        <img id="pipe-detail-icon" class="detail-icon" src="/static/icons/pencil-square.svg" alt="edit">
                                                    </button>                                            
                                                </form>
                                            </td>
                                        </tr>                                
                                    {% endfor %}
                                </table>
                                
                            </div>

                            <form action="{% url 'pipe_results' %}" method="GET">
                                {% csrf_token %}                        
                                <div class="btn-block">
                                    <button type="submit" class="btn btn-outline-secondary btn-lg btn-custom-more" name="more">Усі результати</button>                                                                           
                                </div>                                            
                            </form>  

                        {% else %}
                            <p class="non-result">У Вас ще немає збережених розрахунків</p>                            
                        {% endif %}
                        
                    {% else %}
                        <div>
                            <p class="table-title">Для перегляду збережених результатів, авторизуйтеся або зареєструйтеся</p>
                            <form action="{% url 'login' %}" method="GET">
                                {% csrf_token %}                        
                                <div class="btn-block">
                                    <button type="submit" class="btn btn-outline-secondary btn-lg btn-custom-login" name="more">Увійти</button>                                                                           
                                </div>                                            
                            </form>
                            <form action="{% url 'register' %}" method="GET">
                                {% csrf_token %}                        
                                <div class="btn-block">
                                    <button type="submit" class="btn btn-outline-secondary btn-lg btn-custom-login" name="more">Реєстрація</button>                                                                           
                                </div>                                            
                            </form> 
                        </div>
                        
                    {% endif %}
                    
                </div>

            </div>            

        </div>        

    </section>  

{% endblock %}