{% extends "base.html" %}
{% load static %}

{% block title %}Sandbox{% endblock %}

{% block content %}
  <h1>Sandbox</h1>

  <form action="{% url 'sandbox' %}" method="post">
    {% csrf_token %}
    <div class="form">
      <div class="input">
        {{ form.as_p }}
      </div>
      <div class="units">
        <div>МПа</div>
        <div>мм</div>
      </div>           
    </div>    
    <p><input type="submit" value="Calculate"></p>

    <!-- Вывод формы по элементам с назначением уникальных классов и ИД: -->
    <div>
      {{ form.first_number.help_text }}
    </div>

    <label for="{{ form.first_number.id_for_label }}" class="form-label">{{ form.first_number.label }}: </label>
    <input name="{{ form.first_number.html_name }}" type="text" class="form-control" id="{{ form.first_number.id_for_label }}" required>
    
    <!-- Вывод формы по элементам без назначений классов -->
    <label>{{ form.first_number.label }}: </label>
    <input name="{{ form.first_number.html_name }}" type="text" required>


  </form>  

  <p> Сумма: <b {% if summ == 1 %} class="non-valid-variable" {% endif %}>{{ summ }}</b> </p>

  <!-- <p> Сумма: <b class="calculate-variable">{{ summ }}</b> </p> -->

  <p> Умножение: {{ mult }} </p>
  <p> Деление: {{ div }} </p>

  <a href="{% url 'sandbox_results' %}">Посмотреть результат расчета</a>

{% endblock %}
