{% extends "base.html" %}
{% load static %}

{% block title %}Різьба{% endblock %}

{% block content %}
    <section class="thread">
        <div class="container">
            <h1>Редагування розрахунку "{{ thread.name }}"</h1>
            <div class="home__subtitle-line"></div>
            <div class="row">
                <div class="col-10 col-md-6 col-xl-5 form">
                    <h2>Параметри з’єднання</h2>
                    <form action="{% url 'thread_detail' %}" method="post">
                        {% csrf_token %}
                        
                        <div class="form__string">
                            {{ form.name.label }}                           
                            <div class="form__data form__data__name">
                                {{ form.name }}                               
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.axial_force.label }}                           
                            <div class="form__data">
                                {{ form.axial_force }}
                                <div class="form__unit">кН</div>                                
                            </div>
                        </div>                        

                        <div class="form__string">
                            {{ form.bolt_yield_strength.label }}
                            <div class="form__data">
                                {{ form.bolt_yield_strength }}
                                <div class="form__unit">МПа</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.nut_yield_strength.label }}
                            <div class="form__data">
                                {{ form.nut_yield_strength }}
                                <div class="form__unit">МПа</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.nominal_thread_diameter.label }}
                            <div class="form__data">
                                {{ form.nominal_thread_diameter }}
                                <div class="form__unit">мм</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.thread_pitch.label }}
                            <div class="form__data">
                                {{ form.thread_pitch }}
                                <div class="form__unit">мм</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.nut_active_height.label }}
                            <div class="form__data">
                                {{ form.nut_active_height }}
                                <div class="form__unit">мм</div>                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.nut_minimum_diameter.label }}
                            <div class="form__data">
                                {{ form.nut_minimum_diameter }}
                                <div class="form__unit">мм</div>                                
                            </div>
                        </div>
                        <div>{{ form.errors.nut_minimum_diameter }}</div>

                        <div class="form__string">
                            {{ form.bolt_hole_diameter.label }}                            
                            <div class="form__data">
                                {{ form.bolt_hole_diameter }}
                                <div class="form__unit">мм</div>                                
                            </div>                                                        
                        </div>
                        <div>{{ form.errors.bolt_hole_diameter }}</div>

                        <div class="form__string">
                            {{ form.k_industry.label }}
                            <div class="form__data">
                                {{ form.k_industry }}                                
                            </div>
                        </div>

                        <div class="form__string form__select">
                            {{ form.k_thread.label }}
                            <div class="form__data">
                                {{ form.k_thread }}                                
                            </div>
                        </div>

                        <div class="form__string">
                            {{ form.description.label }} 
                            <div class="form__data form__data__description">
                                {{ form.description }} 
                            </div>
                        </div>

                        <input type="hidden" name="threadid" value="{{ thread.id }}">
                        
                        <div class="btn-block">
                            <button type="submit" class="btn btn-outline-success btn-lg btn-custom" name="calculate">Рахувати різьбу</button>                                                    
                            <button type="submit" class="btn btn-outline-success btn-lg btn-custom" name="update">Застосувати</button>
                            <button type="submit" class="btn btn-outline-danger btn-lg btn-custom-danger" name="delete">Видалити</button>
                        </div> 
                    </form>

                </div>
                <div class="col-10 col-md-6 col-xl-4 results">
                    <h2>Коефіцієнти запасу</h2>

                    <div class="safety">
                        <div class="safety__string">
                            <div class="safety__factor">Болт за умови розтягнення</div>
                            <div class="safety__value {% if k_bolt_tension < 1 %} safety__alert {% endif %}">{{ k_bolt_tension }}</div>
                        </div>

                        <div class="safety__string">
                            <div class="safety__factor">Гайка за умови розтягнення</div>
                            <div class="safety__value {% if k_nut_tension < 1 %} safety__alert {% endif %}">{{ k_nut_tension }}</div>
                        </div>

                        <div class="safety__string">
                            <div class="safety__factor">Болт за умови зім'яття різьби</div>
                            <div class="safety__value {% if k_bolt_crush < 1 %} safety__alert {% endif %}">{{ k_bolt_crush }}</div>
                        </div>

                        <div class="safety__string">
                            <div class="safety__factor">Гайка за умови зім'яття різьби</div>
                            <div class="safety__value {% if k_nut_crush < 1 %} safety__alert {% endif %}">{{ k_nut_crush }}</div>
                        </div>

                        <div class="safety__string">
                            <div class="safety__factor">Болт за умови зрізу різьби</div>
                            <div class="safety__value {% if k_bolt_shear < 1 %} safety__alert {% endif %}">{{ k_bolt_shear }}</div>
                        </div>

                        <div class="safety__string">
                            <div class="safety__factor">Гайка за умови зрізу різьби</div>
                            <div class="safety__value {% if k_nut_shear < 1 %} safety__alert {% endif %}">{{ k_nut_shear }}</div>
                        </div>
                        
                        <img src="../../static/images/thread_conect.jpg" alt="thread_conect">

                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}